@import "tailwindcss";
@import "@nuxt/ui";

:root {
	--ui-text-dimmed: var(--ui-color-neutral-400);
	--ui-text-muted: var(--ui-color-neutral-500);
	--ui-text-toned: var(--ui-color-neutral-600);
	--ui-text: var(--ui-color-neutral-700);
	--ui-text-highlighted: var(--ui-color-neutral-900);
	--ui-text-inverted: #ffffff;
	--ui-bg: #fafafa;
	--ui-bg-muted: var(--ui-color-slate-100);
	--ui-bg-elevated: var(--ui-color-slate-200);
	--ui-bg-accented: var(--ui-color-slate-300);
	--ui-bg-inverted: var(--ui-color-neutral-900);
	--ui-border: var(--ui-color-neutral-200);
	--ui-border-muted: var(--ui-color-neutral-200);
	--ui-border-accented: var(--ui-color-neutral-300);
	--ui-border-inverted: var(--ui-color-neutral-900);
	--ui-radius: 0.5rem;
}

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

* {
	font-family: var(--font-sans);
}

html {
	margin: 0 0;
}

body {
	@apply antialiased text-default bg-default scheme-light dark:scheme-dark;
}
